.team-lead {
  width: fit-content;
  padding-inline: 24px;
  margin-inline: auto;
}

.team-lead__heading {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.team-lead__text {
  position: relative;
  padding-top: 16px;
  margin-top: 16px;
  text-align: center;

  & > p + p {
    margin-top: 8px;
  }

  &::before {
    position: absolute;
    inset-inline: -16px;
    top: 0;
    display: block;
    height: 1px;
    content: "";
    background-color: var(--primary);
  }
}
