.team-value-items {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 12px;
}

.team-value-item {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  align-items: center;
}

.team-value-item__title {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 12px;
  align-items: center;
  padding-right: 24px;
  font-size: 20px;
}

.team-value-item__title-num {
  display: grid;
  place-content: center;
  width: 36px;
  aspect-ratio: 1 / 1;
  line-height: 1;
  color: var(--white);
  background-color: var(--primary);
}

.team-value-item__text {
  padding-left: 24px;
  border-left: 1px solid var(--border);
}
