.member-players-item {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 16px;
    background-color: var(--primary);
    transform-origin: bottom right;
    transform: skew(-30deg);
  }
}

.member-players-item__body {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 12px;
}

.member-players-item__name {
  font-size: 20px;
  font-weight: bold;
}

.member-players-item__data {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px dotted #888;
}

.member-players-item__play-heading {
  font-weight: bold;
  color: var(--primary);
  margin-top: 12px;
}

.member-players-item__text {
  margin-top: 12px;
  padding: 12px;
  background-color: #f8f8f8;
  height: 100%;
  font-size: 14px;
}
