.member-supporters-item {
  position: relative;
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 12px;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 16px;
    content: "";
    background-color: var(--primary);
    transform: skew(-30deg);
    transform-origin: bottom right;
  }
}

.member-supporters-item__img {
  /* TODO: 画像のサイズ、Chat GPTで指定したのと違うサイズだった。リサイズしてCSSの数値変更する */
  aspect-ratio: 1086 / 1448;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.member-supporters-item__body {
  display: flex;
  flex-direction: column;
}

.member-supporters-item__name {
  font-size: 20px;
  font-weight: bold;
}

.member-supporters-item__data {
  height: 100%;
  padding-top: 12px;
  margin-top: 12px;
  border-top: 1px solid var(--border);
}

.member-supporters-item__text {
  height: 100%;
  padding: 12px;
  margin-top: 12px;
  font-size: 14px;
  background-color: var(--gray-bg);
}
