.member-supporters-item {
  position: relative;
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 12px;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 16px;
    content: "";
    background-color: var(--primary);
    transform: skew(-30deg);
    transform-origin: bottom right;
  }
}

.member-supporters-item__body {
  display: flex;
  flex-direction: column;
}

.member-supporters-item__name {
  font-size: 20px;
  font-weight: bold;
}

.member-supporters-item__data {
  padding-top: 12px;
  margin-top: 12px;
  border-top: 1px dotted #888;
}

.member-supporters-item__text {
  height: 100%;
  padding: 12px;
  margin-top: 12px;
  font-size: 14px;
  background-color: #f8f8f8;
}
