.news-news-items {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
}

.news-news-item {
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 3;
  gap: 16px;
  align-items: center;
  padding-block: 16px;
  border-bottom: 1px solid #888;
}

.news-news-item__category {
  padding: 4px 12px;
  font-size: 14px;
  text-align: center;
  background-color: #eee;
  border-radius: 9999px;
}

.news-news-item__title {
  font-weight: bold;
}

.news-news-item__link {
  position: absolute;
  inset: 0;
}
