.activities-schedule-items {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 64px;
  padding-bottom: 40px;
  direction: rtl;

  &::before {
    position: absolute;
    inset: 0;
    bottom: 2px;
    display: block;
    width: 2px;
    margin-inline: auto;
    content: "";
    background-color: var(--black);
  }

  &::after {
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    display: block;
    width: 20px;
    height: 16px;
    margin-inline: auto;
    content: "";
    background-color: var(--black);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}

.activities-schedule-item {
  position: relative;
  display: flex;
  direction: ltr;

  &::after {
    position: absolute;
    inset-block: 0;
    width: 32px;
    height: 1px;
    margin-block: auto;
    content: "";
    background-color: var(--black);
  }

  &:nth-child(odd) {
    &::after {
      right: 100%;
    }
  }

  &:nth-child(2n) {
    top: 40px;
    align-items: center;
    justify-content: end;

    &::after {
      left: 100%;
    }
  }
}

.activities-schedule-item__inner {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 8px;
  border: 1px solid #888;
  border-radius: 9999px;
}

:where(.activities-schedule-item:nth-child(odd)) {
  .activities-schedule-item__inner {
    padding-right: 24px;
  }
}

:where(.activities-schedule-item:nth-child(even)) {
  .activities-schedule-item__inner {
    flex-direction: row-reverse;
    padding-left: 24px;
  }
}

.activities-schedule-item__name {
  display: grid;
  flex-shrink: 0;
  place-content: center;
  width: 48px;
  aspect-ratio: 1 / 1;
  color: var(--white);
  background-color: var(--black);
  border-radius: 50%;
}
