.button {
  position: relative;
  display: inline-block;
  padding: 16px 24px;
  overflow: hidden;
  font-size: 20px;
  color: var(--white);
  background-color: var(--primary);

  &::before,
  &::after {
    position: absolute;
    inset-block: 0;
    display: block;
    width: 16px;
    content: "";
    background-color: var(--primary-light);
  }

  &::before {
    left: 0;
    transform: skewX(-30deg);
    transform-origin: left top;
  }

  &::after {
    right: 0;
    transform: skewX(-30deg);
    transform-origin: right bottom;
  }
}
