.footer {
  color: var(--white);
  background-color: var(--secondary);
}

.footer-info {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-info__logo {
  display: grid;
  place-content: center;
  aspect-ratio: 1 / 1;
  padding: 2px;
  font-size: 10px;
  line-height: 1;
  background-color: var(--primary);
}

.footer-info__name-en {
  font-size: 10px;
  opacity: 0.7;
}

.footer-copy {
  font-size: 12px;
  text-align: center;
}
