.heading {
  position: relative;
  padding-left: 36px;
  font-size: 24px;
  font-weight: bold;
}

.heading__mark {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 24px;
  height: 32px;

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    display: block;
    width: 6px;
    margin-inline: auto;
    content: "";
    transform: skewX(-30deg);
  }

  &::before {
    right: -6px;
    background-color: var(--primary-light);
  }

  &::after {
    left: -6px;
    background-color: var(--primary);
  }
}
