.header {
  position: sticky;
  top: 0;
  z-index: var(--z-header);
  background-color: var(--white);
}

.header-link {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-block: 8px;
}

.header-link__logo {
  display: grid;
  place-content: center;
  aspect-ratio: 1 / 1;
  padding: 2px;
  font-size: 10px;
  line-height: 1;
  color: var(--white);
  background-color: var(--primary);
}

.header-link__name {
  font-weight: bold;
}

.header-link__name-en {
  font-size: 10px;
  opacity: 0.7;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-nav__item {
  height: 100%;
}

.header-nav__link {
  display: grid;
  place-content: center;
  height: 100%;
  padding-inline: 12px;
  font-weight: bold;

  &.--contact {
    color: var(--white);
    background-color: var(--primary);
  }
}
