.hero {
  position: relative;
  height: 240px;
}

.hero-content {
  position: relative;
  z-index: 1;
  display: grid;
  place-content: center start;
  height: 100%;
}

.hero-content__sub-title {
  font-weight: bold;
  color: var(--primary);
}

.hero-content__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
}

.hero-content__description {
  margin-top: 4px;
}

.hero-bg {
  position: absolute;
  inset: 0;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    position: absolute;
    inset: 0;
    content: "";
    background-image: linear-gradient(120deg, var(--white) 35%, transparent 70%);

    @media (width < 48rem) {
      background-image: linear-gradient(120deg, var(--white) 45%, transparent 90%);
    }
  }
}
