.contact-flow-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 48px;
}

.contact-flow-item {
  position: relative;
  padding-top: 12px;

  & + .contact-flow-item::before {
    position: absolute;
    top: 60px;
    left: -32px;
    display: block;
    width: 20px;
    height: 24px;
    content: "";
    background-color: var(--primary);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }
}

.contact-flow-item__head {
  position: relative;
  display: grid;
  place-content: center;
  width: 120px;
  aspect-ratio: 1 / 1;
  margin-inline: auto;
  background-color: #eee;
  border-radius: 50%;
}

.contact-flow-item__num {
  position: absolute;
  inset-inline: 0;
  top: -12px;
  display: grid;
  place-content: center;
  width: 32px;
  aspect-ratio: 1 / 1;
  margin-inline: auto;
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 50%;
}

.contact-flow-item__img {
  width: 60px;
  aspect-ratio: 1 / 1;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contact-flow-item__content {
  position: relative;
  margin-top: -16px;
  text-align: center;
}

.contact-flow-item__name {
  font-weight: bold;
}

.contact-flow-item__text {
  font-size: 14px;
}
