.contact-for-you-items {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contact-for-you-item {
  position: relative;
  padding-left: 28px;

  & > i {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;

    &::before {
      position: absolute;
      inset: 0;
      content: "";
      border: 1px solid var(--primary);
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      inset: 0;
      right: 50%;
      display: block;
      content: "";
      border-right: 2px solid var(--primary);
      border-bottom: 2px solid var(--primary);
      transform: translate(60%, -30%) rotate(45deg);
    }
  }
}
